// Extends
%word-break {
  -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
  // for use on a url string
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

%clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after { clear: both; }
}

%hidden {
  text-indent: -9999px;
  overflow: hidden;
}

%flip {
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
       -o-transform: scaleX(-1);
          transform: scaleX(-1);
  -ms-filter: "FlipH";
      filter: FlipH;
}

%vertical-center {
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
           position: relative;
                top: 50%;
}
