.articles-related {
  @media print {display: none;}
  .card-header {
    a {
      color: $color-blue-bright;
      &:before {
        background: $color-blue-bright;
      }
      &:hover {
        color: $color-blue-bright;
      }
    }
  }
  .description {
    line-height: 1.2em;
    font-size: 95%;
    word-break: break-all;
  }
  .content {
    .read-now {
      text-align: right;
      margin-top: 0.5em;
      .shuttle {
        color: $link;
      }
    }
  }
}
