.pets {
  justify-content: center;

  .card {
    margin: 0.875em 2em !important;
    width: 100% !important;
    max-width: 500px !important;
    box-shadow: 0px 2px 80px rgba(0, 0, 0, 0.07) !important;
    .image{
      height: 500px;
      aspect-ratio: 1;
      overflow: hidden;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .header {
      display: flex !important;
      justify-content: space-between;
    }

  }
}

.pets-page {
  padding-bottom: 3em;
  h1 {
    color: #666 !important;
    font-weight: 900;
    text-align: center;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }
}

.pets-social {
  height: 2rem;
  img {
    height: 100%;
    width: auto;
  }
}
