

.photo-credit {
  --border-radius: 5rem;
  --font-size: 1rem;
  background: black;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  color: white;
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  padding: 0.5ch;
  padding-inline-end: 1rem;
  right: 0;
  transform: translatex(calc(100% - 2.5rem));
  width: fit-content;
  position: absolute;
  transition: 0.2s;
  z-index: 100;
  bottom: calc(50% - 2em);
  &:hover {
    transform: translatex(0);
  }
  a {
    @include link-underline(orange, 1px);
  }
}

.cc-icon {
  border-radius: var(--border-radius);
  border: solid 1px white;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1.25;
  width: 3ch;
  height: 3ch;
  margin-right: 1ch;

  &:before {
    content: "cc";
    color: white;
    font-family: var(--font-family);
    font-size: var(--font-size);
  }
}
