---
layout: page
title: tag, you're it!
permalink: /tags/
---
<div class="ui text conatiner tags">

  {% assign tags_list = site.tags %}
    {% if tags_list.first[0] == null %}
      {% for tag in tags_list %}
        <a class="ui basic label orange" href="#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
      {% endfor %}
    {% else %}
      {% for tag in tags_list %}
        <a class="ui basic label orange" href="#{{ tag[0] }}" title="{{ tag[0] }}">{{ tag[0] }}</a>
      {% endfor %}
    {% endif %}
  {% assign tags_list = nil %}


  {% for tag in site.tags  %}
    <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
    <div class="ui list">
      {% assign pages_list = tag[1] %}
      {% for post in pages_list reversed %}
        {% if post.title != null %}
        {% if group == null or group == post.group %}
          <div class="item freshness-icon" data-freshness-datetime="{{ post.date | date_to_xmlschema }}">
            {% assign page = post %}
            <i class="icon heartbeat freshness-icon-js"></i>
            <div class="content">
              <a href="{{ post.url | prepend: site-url }}">{{ post.title }}</a>
            </div>
          </div>
        {% endif %}
        {% endif %}
      {% endfor %}
      {% assign pages_list = nil %}
      {% assign group = nil %}
    </div>
  {% endfor %}
</div>
