<div class="modal fade articles-archive" role="dialog" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-dialog modal-full-screen">
    <div class="modal-content">
      <div class="modal-header">
        <div class="logo">
          <img class="center-block" src="/images/logos/RIMdev-logo.png" alt="{{ site.user_description }}" />
        </div>
      </div>
      <div class="modal-body">

        {% for post in site.posts %}
        <div class="post-articles">
          <article>
            <header>
              <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            </header>
            <author>
            {% for author in post.authors %}
              {% if forloop.first %}
                <a href="/{{ author | replace: " ","-" | prepend: base.url | downcase }}/">{{ author }}</a>
              {% else %}
                | <a href="/{{ author | replace: " ","-" | prepend: base.url | downcase }}/">{{ author }}</a>
              {% endif %}
            {% endfor %}

            <div class="time-to-read text-muted">
              {% assign content = post.content %}
              {% include word-count.html %}
              <i class="fa fa-book text-muted"></i> {{ words | plus: 250 | divided_by: 200 | append: " min read" }}
            </div><!-- /.time-to-read -->
            </author>
            <p>
              {{ post.content | markdownify | strip_html | truncate:200 }}
            </p>
            <ul class="list-inline">
              {% for tags in post.tags %}
              <li class="list-inline-item"><a class="tag" href="{{ site.url }}/tags/#{{ tags }}" title="{{ tags }}">{{ tags }}</a></li>
              {% endfor %}
            </ul>
          </article>
        </div>
        {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>
