{% include post-image.html %}
{% include masthead.html %}
{% include menu.html %}

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable text container">
      <article>

        <h1>{{ post.title }}</h1>

        <div class="author">
          Written by {% include articles-authors.html %}

          <div class="time-to-read">
            {% include word-count.html %}
            <i class="icon book"></i> {{ words | plus: 250 | divided_by: 200 }}

          </div><!-- /.time-to-read -->
        </div><!-- /.author -->

        <div class="freshness grey-lighter" data-freshness-datetime="{{ post.date | date_to_xmlschema }}">
          <i class="icon heartbeat freshness-icon-js"></i>
          <em>This post is <span class="freshness-days-old-js"></span> days old.</em>
        </div>

        {% comment %}
        `| markdownify | hilightify` appended here because of the way we're looping through.
        Not need on actual layout pages.
        {% endcomment %}

        {{ content | markdownify | hilightify }}

        {% include articles-footer.html %}

      </article>

      {% include articles-related.html %}
      <div class="ui hidden divider"></div>
      {% include disqus.html %}

  </div>
</div>
