<div class="post-number">
  {% if page.date %}{{ page.date | date: "%F" }}{% else %}{{ post.date | date: "%F" }}{% endif %}  
</div>

{% if post.image %}
<div class="post-has-image">
  {% if post.image_credit %}
  <div class="photo-credit">
    Image <span>CC</span> <a href="{{ post.image_url }}">{{ post.image_credit }}</a>
  </div>
  {% endif %}
  <img src="{{ post.image }}" alt="{{ post.title }}" >
</div>
{% else %}
<div class="post-has-image">
  <img src="{{ site.default_image }}" alt="{{ post.title }}" >
</div>
{% endif %}

<article>

  <h1>{{ post.title }}</h1>

  <div class="author">
    Written by
    {% include articles-authors.html %}

    {% assign page = post %}

    <div class="time-to-read text-muted">
      {% include word-count.html %}
      <i class="fa fa-book text-muted"></i> {{ words | plus: 250 | divided_by: 200 | append: " minute read" }}

    </div><!-- /.time-to-read -->
  </div><!-- /.author -->

  <div class="freshness text-muted" data-freshness-datetime="{{ post.date | date_to_xmlschema }}">
    <i class="fa fa-heartbeat freshness-icon-js"></i>
    <em>This post is <span class="freshness-days-old-js"></span> days old.</em>
  </div>

  {{ content }}

  {% include articles-footer.html %}

</article>

{% include articles-related.html %}
{% include disqus.html %}
