<author itemscope itemtype="http://schema.org/Person">
{% assign authorCount = page.authors | size %}
{% if authorCount == 1 %}
  {{ page.authors | first }}
{% else %}
{% for author in page.authors %}
  <section>
    <img itemprop="image" src="{{ site.RIMdev[author].avatar }}&s=100" alt="{{ author }}">
    <h3>
      <a itemprop="name" href="/{{ author | replace: " ","-" | prepend: base.url | downcase }}/">{{ author }}</a>
      {% if site.RIMdev[author].twitter or site.RIMdev[author].github %}
       <div class="social">|

        {% if site.RIMdev[author].twitter %}
        <a href="https://twitter.com/{{ site.RIMdev[author].twitter }}" title="{{ site.RIMdev[author].twitter | prepend: "@"}}"><i class="fa fa-twitter fa-lg twitter"></i></a>
        {% endif %}
        {% if site.RIMdev[author].github %}
        <a href="https://github.com/{{ site.RIMdev[author].github }}" title="{{ site.RIMdev[author].github }}"><i class="fa fa-github fa-lg github"></i></a>
        {% endif %}
        {% if site.RIMdev[author].title %}
        <small itemprop="title">{{ site.RIMdev[author].title }}</small>
        {% endif %}
      </div>
      {% endif %}
    </h3>
  </section>
  {% endfor %}
  {% endif %}

</author>
