<author itemscope itemtype="http://schema.org/Person">
  <div class="ui big horizontal divided list">
    {% assign authorCount = page.authors | size %}
    {% if authorCount == 1 %}
    {{ page.authors | first }}
    {% else %}
    {% for author in page.authors %}
    <div class="item">
      <img class="ui avatar image" itemprop="image" src="{{ site.RIMdev[author].avatar }}&s=100" alt="{{ author }}">
      <div class="content">
        <div class="header">
          <a itemprop="name" href="/{{ author | replace: " ","-" | prepend: base.url | downcase }}/">{{ author }}</a>
          {% if site.RIMdev[author].twitter or site.RIMdev[author].github %}
          <div class="social">
            <i class="icon ellipsis vertical grey-lighter"></i>
            {% if site.RIMdev[author].twitter %}
            <a href="https://twitter.com/{{ site.RIMdev[author].twitter }}" title="{{ site.RIMdev[author].twitter | prepend: "@"}}"><i class="icon twitter"></i></a>
            {% endif %}
            {% if site.RIMdev[author].github %}
            <a href="https://github.com/{{ site.RIMdev[author].github }}" title="{{ site.RIMdev[author].github }}"><i class="icon github alternate"></i></a>
            {% endif %}
            {% if site.RIMdev[author].title %}
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="description" itemprop="title">{{ site.RIMdev[author].title }}
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</author>
