<footer class="ui vertical segment">
  <div class="ui stackable text container">
    <div class="ui horizontal divider">
      <a href="{{ site.url }}">
        <img class="footer" src="/images/logos/RIMdev-logo.png" alt="{{ site.user_description }}" />
      </a>
    </div>

    <div class="ui horizontal list social right floated">
      <div class="item">
        <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="icon large twitter"></i></a>
      </div>
      <div class="item">
        <a target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon large github alternate"></i></a>
      </div>
      <div class="item">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="icon large feed"></i></a>
      </div>
    </div>

    <p>&copy; <a href="{{ site.rim_url }}">{{ site.rim_copy }}</a> <a target="_blank" href="{{ site.map_url}}"><i class="icon marker"></i></a></p>

  </div>
</footer>
