<div class="ui freshness popup">
  <div class="content">Stay fresh! The brighter green, the fresher the article!</div>
  <div class="ui horizontal list">
    <div class="item">
      <i class="heartbeat icon large new"></i>
    </div>
    <div class="item">
      <i class="heartbeat icon large old"></i>
    </div>
    <div class="item">
      <i class="heartbeat icon large stale"></i>
    </div>
    <div class="item">
      <i class="heartbeat icon large rubbish"></i>
    </div>
  </div>
</div>
