{% capture today %}{{ "now" | date: "%s" }}{% endcapture %}
{% capture posted %}{{ page.date | date: "%s" }}{% endcapture %}
{% capture freshness %}{{ today | minus: posted | date: "%s" | date: "%j" | floor }}{% endcapture %}

{% assign freshness = freshness | times: 1 %}

{% if freshness <= 30 %}
  {% assign class = "new" %}
{% endif %}
{% if freshness > 31 and freshness < 190 %}
  {% assign class = "old" %}
{% endif %}
{% if freshness > 191 and freshness < 364 %}
  {% assign class = "stale" %}
{% endif %}
{% if freshness > 365 %}
  {% assign class = "rubbish" %}
{% endif %}
