<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="dEoJj4vkdM0sgmuhazYuT-Gs3dOwTVjMXiqzEPmmVf8" />

  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{site.twitter_username}}">
  <meta name="twitter:image" property="og:image" content="{% if page.image %}{{ page.image }}{% else %} {{ site.default_image }}{% endif %}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - RIMdev {% else %} {{ site.description }} {% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Social: Facebook / Open Graph -->
  <meta property="og:url" content="{{ page.url | replace:"index.html","" | prepend: site.baseurl | prepend: site.url }}">
  <meta name="og:title" content="{% if page.title %}{{ page.title }} - RIMdev{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %} {{ site.default_image }}{% endif %}">
  <meta name="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.description }}">

  <!-- Social: Google+ / Schema.org  -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="image" content="{% if page.image %}{{ page.image }}{% else %} {{ site.default_image }}{% endif %}"/>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:300|Roboto+Slab:400,300,100">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" integrity="sha256-iK7AZM7Xa42iuURdMdo1sp38ld/JJ3fDtS0523GKqdk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">


  <link rel="canonical" href="{{ page.url | replace:"index.html","" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script type="text/javascript">
      var host = "{{ site.enforce_ssl }}";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
  </script>

  {% include favicons.html %}

  {% seo title=false %}
</head>
