{% include post-image.html %}

{% if postImage %}
<div class="ui vertical masthead segment" style="background: url({{ postImage }}) center center / cover no-repeat">
  {% include photo-credit.html %}
</div>
{% endif %}

{% if postVideo %}
<div class="ui vertical masthead segment">
  <video class="background"
  	loop
  	muted
  	autoplay
  	preload="auto"
  	poster="{{ postVideo }}.png">
    <source src="{{ postVideo }}.mp4" type="video/mp4">
    <source src="{{ postVideo }}.webm" type="video/webm">
  </video>
</div>
{% endif %}
