<a href="#" class="item"
  data-tooltip="Read More"
  data-inverted=""
  data-position="{{ include.position }} center"
  data-variation="small">
  <i class="icon newspaper o large"></i>
</a>
<a href="{{ site.url }}" class="item"
  data-tooltip="er, Home ;)"
  data-inverted=""
  data-position="{{ include.position }} center"
  data-variation="small">
  <i class="icon home large"></i>
</a>
<a href="/under-the-decision-tree/" class="item"
  data-tooltip="Under the Decision Tree"
  data-inverted=""
  data-position="{{ include.position }} center"
  data-variation="small">
  <i class="icon leaf large"></i>
</a>
<a href="/about/" class="item"
  data-tooltip="Who is RIMdev?"
  data-inverted=""
  data-position="{{ include.position }} center"
  data-variation="small">
  {% include rimdev-svg.html %}
</a>
<a href="/open-source/" class="item"
  data-tooltip="Open source"
  data-inverted=""
  data-position="{{ include.position }} center"
  data-variation="small">
  {% include oss-svg.html %}
</a>
<a href="#" class="right floated item">
  <i class="large horizontally flipped search icon"></i>
</a>
