<div class="search-wrapper">
  <div class="search-form">
    <input type="text" class="search-field" placeholder="Search...">
    <i class="icon-remove-sign icon-close icon-lg"></i>
    <ul class="search-results search-list"></ul>
  </div>
</div>

<div id="fade" class="overlay"></div>
<a id="slide" class="slideButton fade">
  <i id="open" class="icon-menu icon-2x"></i>
  <i id="close" class="icon-close icon-2x"></i>
</a>
<aside id="sidebar">
  <nav id="navigation">
    <a href="{{ site.url }}">
      <i class="icon-rimdev-badge icon-4x"></i></a>
    <ul>
      {% for link in site.links %}
      <li><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
      <li><a class="feed" href="{{ site.url }}/feed.xml" title="Atom/RSS feed">Feed</a></li>
    </ul>
  </nav>
</aside>
<a id="search" class="dosearch">
  <i class="icon-menu icon-search icon-lg"></i>
</a>
