<div class="ui borderless large top fixed menu">
  <div class="ui text container">
    <a href="#" class="item">
      <i class="icon newspaper o"></i>
    </a>
    <a href="/under-the-decision-tree/" class="item">The Decision Tree</a>
    <a href="/about/" class="item">Ritter Development</a>
  </div>
</div>

<div class="ui borderless large secondary menu">
  <div class="ui text container">
    <a href="#" class="item" data-tooltip="Click to read more" data-inverted="" data-position="top center" data-variation="small">
      <i class="icon newspaper o"></i>
    </a>
    <a href="/under-the-decision-tree/" class="item">The Decision Tree</a>
    <a href="/about/" class="item">Ritter Development</a>
  </div>
</div>
