<div class="ui basic scrolling modal search-modal">
  <i class="huge grey close icon"></i>
  <div class="content">
    <rim-search data-api-url="https://content-search.ritterim.com"></rim-search>
    <script src="../node_modules/content-search-component/final/semanticui2/inline.js"></script>
    <script src="../node_modules/content-search-component/final/semanticui2/vendor.js"></script>
    <script src="../node_modules/content-search-component/final/semanticui2/main.js"></script>
  </div>
</div>

{% comment %}
  script calls need to be here as opposed to the script.html include,
  otherwise, inline.js can't find the <rim-search> element.
{% endcomment %}
