{% capture social_url %}{{site.url}}{{page.url}}{% endcapture %}
{%if page.short %}
  {% assign social_url = page.short.url %}
{% endif %}
<ul class="list-inline share">
  <li class="list-inline-item">Share</li>
  <li class="list-inline-item">
    <a href="https://twitter.com/intent/tweet?text=&quot;{{ page.twitter_text | url_encode }}&quot;%20{{ social_url }}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
    <i class="fa fa-twitter"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://plus.google.com/share?url={{ social_url }}"
    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Google+">
    <i class="fa fa-google-plus"></i>
    </a>
  </li>
</ul>
