---
import MainLayout from '../../layouts/MainLayout.astro';

const title = "You won't see this page.";
const image = "/images/default/rimdev-configyml.jpg";

const redirect = "/the-pets-of-rimdev"
---

<MainLayout title={title} image={image} redirect={redirect}>
  <h1>Redirects!</h1>
</MainLayout>