---
import MainLayout from '../../layouts/MainLayout.astro';

const title = "You won't see this page.";
const image = "/images/default/rimdev-configyml.jpg";

const redirect = {
  url: "/the-pets-of-rimdev",
  timing: null
}
console.log(redirect)
---

<MainLayout title={title} image={image} redirect={redirect}>
  <h1>Redirects!</h1>
</MainLayout>