// Articles sidebar (acting as nav)
.sidebar {
  background-color: $color-white;
  .ui.menu {
    font-family: $font-body;
    @include border-radius(0);
    @include box-shadow(none);
  }
  .logo {
    padding: 3em 3em .5em;
    text-align: center;
    img {
      margin: 0 auto;
      width: 15em;
    }
  }
  .post-articles {
    header {
      a {
        h3 {
          color: $color-blue-bright;
          font-weight: lighter;
          line-height: 1.3em;
          margin-bottom: 0.3em;
          padding: 1em 0;
          @include link-underline($color-blue-bright, 1px);
          @include transition(all, 0.1s);
        }
      }
    }
    article {
      padding: 0 3em;
      p {
        margin-top: 0.5em;
        word-break: break-word;
      }
      .read-now {
        color: transparent;
        padding-bottom: 1em;
        position: relative;
        right: 100%;
        @include transition(all,.1s);
        a {
          color: transparent;
        }
      }
      &:hover {
        .read-now {
          right: -70%;
          color: $link;
          a {
            color: $link;
            font-style: italic;
          }
          .space.shuttle {
            color: $link;
          }
        }
      }
    }

  }
}
