// Articles sidebar (acting as nav)
.sidebar {
  background-color: $color-white;
  padding: 3em;
  .close {
    color: $link;
    cursor: pointer;
    font-size: 180%;
    float: right;
  }
  .article-age {
    color: $grey;
    display: block;
    padding: 1em 0;
    text-align: right;
  }
  .logo {
    text-align: center;
    img {
      margin: 0 auto;
      width: 15em;
    }
  }
  .post-articles {
    header {
      a {
        h3 {
          color: $color-blue-bright;
          font-weight: lighter;
          line-height: 1.3em;
          margin-bottom: 0.3em;
          @include link-underline($color-blue-bright, 1px);
          @include transition(all, 0.1s);
        }
      }
    }
    article {
      border-bottom: 1px solid $grey-lighter;
      overflow-x: hidden;
      p {
        margin: 0.5em 0;
        word-break: break-word;
      }
      .read-now {
        color: transparent;
        padding-bottom: 1em;
        position: relative;
        right: 90%;
        @include transition(all,.1s);
        a {
          color: transparent;
        }
      }
      &:hover {
        .read-now {
          right: -70%;
          color: $link;
          a {
            color: $link;
            font-style: italic;
          }
          .space.shuttle {
            color: $link;
          }
        }
      }
    }

  }
}
.ui.image img {
  // overrides width issue.
  max-width: initial !important;
}
// .very .wide sidebar too wide on mobile below 475
// using 765px to better scale smaller experience
@media (max-width: 765px) {
  .ui.visible[class*="very wide"].left.sidebar~.pusher {
    -webkit-transform: translate3d(350px,0,0);
    transform: translate3d(350px,0,0);
  }
  .ui[class*="very wide"].left.sidebar {
    width: 350px;
  }
}
