.articles-footer {
  time {
    color: $grey-light;
    display: block;
    margin: 3em auto;
    text-align: center;
  }
  .post-footer {
    @media print {display: none;}
    margin: 3em 0;
  }
  .read-now {
    color: transparent;
    padding-bottom: 1em;
    position: relative;
    left: 0;
    @include transition(all,.1s);
    a {
      color: transparent;
    }
    &:hover {
      .read-now {
        left: 70%;
        @media (min-width: 991px) {
          left: 50%;
        }
        color: $link;
        a {
          color: $link;
          font-style: italic;
        }
      }
    }
  }


}
