// post main column (right)
.pusher {
  .masthead {
    height: 30vh;
    overflow: hidden;
    position: relative;
    .container.above {
      position: absolute;
      z-index: 10;
      left: 1em;
    }
    img {
      width: 100%;
      position: absolute;
      top: -50vh;
      left: 0;
    }
  }
  article {
    img {
      &.inline {
        max-width: 100%;
      }
    }
  }
  article,
  .disqus,
  .tags,
  .articles-related,
  .authors-page {
    // nested articles on authors page
    font-family: $font-body;
    font-weight: 300;
    article {
      padding: 0;
    }
    p {
      max-width: 100%;
      overflow-y: hidden;
      img {
        display: block;
        margin: 2em auto;
        text-align: center;
        max-height: 100%;
      }
    }
    h1 {
      color: $color-blue-bright;
      margin-top: 1em;
    }
    h2, h3, h4, h5, h6 {
      color: $color-blue-bright;
      font-weight: 300;
    }
    h1 {
      border-bottom: 1px solid $grey-lighter;
      padding-bottom: .5em;
      margin-bottom: .18em;
      @media print {font-size: 2em;}
    }
    .author {
      border-bottom: 1px solid $grey-lighter;
      margin-bottom: 1em;
      padding-bottom: .5em;
      a {
        text-decoration: none;
        &:nth-child(2) {
          margin-left: 0.5em;
        }
      }
    }
    .caption {
      display: block;
      margin-top: -1em;
      color: $grey;
      font-size: 90%;
    }

    // Add Semantic UI styles for <div class="ui divider"></div>
    // to hr tags that are generated from Markdown
    // https://github.com/Semantic-Org/Semantic-UI/blob/d9ac759e7eb480dc896988ac5d6fe4e0553a4cbb/dist/components/divider.css

    // .ui.divider {
    hr {
      margin: 1rem 0rem;
      line-height: 1;
      height: 0em;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: rgba(0, 0, 0, 0.85);
      -webkit-user-select: none;
        -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    // .ui.divider:not(.vertical):not(.horizontal) {
    hr {
      border-top: 1px solid rgba(34, 36, 38, 0.15);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    hr {
      border-left: 0;
    }
  }
}
