// Author signature block
.related-cards {
  .card-header {
    color: $color-blue-bright;
    font-family: $font-headline;
    font-weight: normal;
    line-height: 1.3em;
    padding-bottom: .3em;
  }
  .category {

  }
  .description {

  }
  .author {

  }
}
