
// inline
p ,
li {
  > code {
    background: $grey-lighter;
    color: darken($color-blue, 10%);
    font-size: 85%;
    padding: 0.1em 0.3em;
    @include border-radius(3px);
  }
}

// pad code blocks
pre {
  border: 1px solid lighten($link,40%);
  padding: 1em 2em;
  margin: 3em 0;
  @include border-radius(3px);
}
