
// inline
p ,
li {
  > code {
    background: $grey-lighter;
    color: darken($color-blue, 10%);
    font-size: 85%;
    padding: 0.1em 0.3em;
    @include border-radius(3px);
  }
}

// pad code blocks
pre {
  padding: 2em;
  margin: 3em 0;
}
