// main footer
footer {
  color: $grey-light;
  img.footer {
    width: 6em;
  }
  a {
    color: $grey-light;
    font-family: $font-body;
    font-size: 85%;
  }
  &.ui.vertical.segment {
    margin-bottom: 3em;
  }
}
