// Sidebars use a special fix for iOS that are added using userAgent detection.
// This should have no meaningful affect on your code, but will prevent the canvas
// from incorrectly autoresizing when a sidebar opens.
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

/// Main style sheet for ASG site
html,
body {height: 100%;}
body {
  font-family: $font-body;
  font-weight: 300;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-blue-bright;
    font-family: $font-headline;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0;
  }
  h3,
  h4,
  h5,
  h6 {font-weight: 400;}
  h1,
  h2,
  h3 {font-weight: 100;}
  h1,
  h2,
  h3 {line-height: 1.1;}
  h1 {
    @media (max-width: 765px) {
      font-size: 2em;
    }
    font-size: 3em;
    @include transition(all,0.3s)
  }
  h2 {
    @media (max-width: 765px) {
      font-size: 1.5em;
    }
    font-size: 2em;
    @include transition(all,0.3s)
  }
  h3:not(.sidebar h3) {
    @media (max-width: 765px) {
      font-size: 1.1em;
    }
    font-size: 1.5em;
    @include transition(all,0.3s)
  }
  p,
  li {
    font-size: 1.1em;
    line-height: 1.5;
  }
  ol li {margin-bottom: 1em;}
  strong {
    font-weight: bold;
    font-weight: 700;
  }
}

// link color scheme
a {
  @include link-underline($link, 1px);
}

.social,
.divider,
footer .icon,
.sidebar .logo {
  display: inline;
  color: $grey-light;
  a {
    // removes site-wide underline animation
    &:before {
      background: transparent;
    }
  }
}

.border {border: 1px solid $grey-lighter;}

.grey-lighter {color: $grey-lighter;}

.whitespace {white-space: nowrap;}

.fixed {position: fixed;}

.ui.horizontal.divider {
  color: $grey-light;
  font-family: $font-body;
  font-weight: 300;
  margin: 3em 0;
  text-transform: capitalize;
}

blockquote {
  p {
    color: $grey;
    display: block;
    font-size: 120%;
    font-style: italic;
    padding: 2em 3em;
    &:before {
      color: $color-blue-bright;
      content: "\f10d";
      font-family: "icons";
      font-size: 150%;
      margin-left: -1.5em;
      padding-right: .5em;
      @include opacity(.5,5);
    }
  }
}

.ui.vertical.stripe.segment {
  border-color: transparent;
}

.img-fluid {
  height: auto;
  width: 100%;
}
