.pets {
  justify-content: center;

  .card{
    margin:0.875em 2em !important;
    width:100% !important;
    max-width:500px !important;
    box-shadow:none !important;
    .header{
      display:flex !important;
      justify-content: space-between;
    }
  }
}

.pets-page{
  background:#EFEFEF !important;
  padding-bottom:3em;
  h1{
    color:#666 !important;
    font-weight:900;
    text-align:center;
    margin-bottom:1em !important;
  }
}

.pets-social{
  height:2rem;
  img{
    height:100%;
    width:auto;
  }
}