.ui.label {
  &.photo-credit {
    background: darken($grey-dark, 10%);
    color: $color-white;
    padding-right: 2em !important;
    position: absolute;
    z-index: 100;
    bottom: 1em;
    @include opacity(0,0);
  }
}
