// semantic ui search modal
.ui.dimmer.modals.page.inverted {
  background: rgba($color-white,.97);
  height: 100%;
  overflow: hidden;
  .ui.basic.modal {
    &.search-modal {
      height: 100%;
      min-height: 100vh;
      transform: none;
      overflow-y: auto;
    }
  }

}
