.twitter     {color: $twitter;}
.facebook    {color: $facebook;}\
.pinterest   {color: $pinterest;}
.linkedin    {color: $linkedin;}
.youtube     {color: $youtube;}
.vimeo       {color: $vimeo;}
.instagram   {color: $instagram;}
.github      {color: $github;}
.feed        {color: $color-orange;}
