.twitter     {color: $twitter;}
.facebook    {color: $facebook;}
.googleplus  {color: $googleplus;}
.pinterest   {color: $pinterest;}
.linkedin    {color: $linkedin;}
.youtube     {color: $youtube;}
.vimeo       {color: $vimeo;}
.instagram   {color: $instagram;}
.github   {color: $github;}
