.articles-related {
  @media print {display: none;}
  a {
      @include link-underline($color-blue-bright, 1px);
      color: lighten($color-blue-bright, 5%);
      font-family: "Roboto slab", serif;
      font-size: 1.2em;
      font-weight: lighter;
      line-height: 2em;
      @include transition(all, 0.1s);
      &:hover {
        color: darken($color-blue-bright, 10%);
      }
  }
}
