@font-face {
	font-family: 'ritterim';
	src:url('/assets/fonts/ritterim.eot?269zfz');
	src:url('/assets/fonts/ritterim.eot?269zfz#iefix') format('embedded-opentype'),
		url('/assets/fonts/ritterim.ttf?269zfz') format('truetype'),
		url('/assets/fonts/ritterim.woff?269zfz') format('woff'),
		url('/assets/fonts/ritterim.svg?269zfz#ritterim') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ritterim';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: inherit;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* sizing =========== */

.icon-lg {
  font-size: 1.33333333em;
  vertical-align: -15%;
}
.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}

/*
 *	ONLY REPLACE BELOW THIS LINE WHEN GENERATING A NEW FONT SET
 */

 .icon-ritter-horse:before {
 	content: "\e900";
 }
 .icon-rimdev-badge:before {
 	content: "\e901";
 }
 .icon-rimdev:before {
 	content: "\e902";
 }
 .icon-nuget:before {
 	content: "\e903";
 }
 .icon-open-source-o:before {
 	content: "\e904";
 }
 .icon-open-source:before {
 	content: "\e905";
 }
 .icon-github:before {
 	content: "\e906";
 }
 .icon-github-alt:before {
 	content: "\e907";
 }
 .icon-twitter:before {
 	content: "\e908";
 }
 .icon-close:before {
 	content: "\e909";
 }
 .icon-close-alt:before {
 	content: "\e90a";
 }
 .icon-envelope:before {
 	content: "\e90b";
 }
 .icon-envelope-open:before {
 	content: "\e90c";
 }
 .icon-chevron-down:before {
 	content: "\e90d";
 }
 .icon-chevron-up:before {
 	content: "\e90e";
 }
 .icon-chevron-left:before {
 	content: "\e90f";
 }
 .icon-chevron-right:before {
 	content: "\e910";
 }
 .icon-menu:before {
 	content: "\e911";
 }
 .icon-search:before {
 	content: "\e912";
 }
 .icon-google-plus:before {
 	content: "\e913";
 }
 .icon-stuntman:before {
 	content: "\e914";
 }
