---
import Menu from './Menu.astro';
import { site } from '../data/config.json';
const { postImage, author, authorImage, imageCredit, imageUrl } = Astro.props;
---

{
  postImage ? (
    <header
      class="background-image vh-25 flex flex--column pos-rel"
      data-background-image={postImage ? postImage : site.default_image}
      data-background-position="center center"
      data-background-size="cover"
      data-background-repeat="no-repeat"
      role="banner"
    >
      <div class="h-100 flex flex--align-center flex--justify-center">
        {authorImage ? (
          <div class="image--round-medium">
            <img src={authorImage} alt={author} />
          </div>
        ) : null}
      </div>
      {imageCredit && imageUrl ? (
        <div class="photo-credit">
          <div class="cc-icon" />
          <a href={imageUrl}>{imageCredit}</a>
        </div>
      ) : null}
      <Menu />
    </header>
  ) : null
}
