<div class="ui basic scrolling modal search-modal">
  <i class="huge grey close icon"></i>
  <div class="content">
    <rim-search
      data-api-url="https://content-search.ritterim.com"
      data-filter-sites="rimdev.io"
      
    />
    <script src="/js/content-search-component/inline.js" is:inline></script>
    <script src="/js/content-search-component/vendor.js" is:inline></script>
    <script src="/js/content-search-component/main.js" is:inline></script>
  </div>
</div>