<div id="search-modal" class="modal">
  <div class="modal__inner">
    <div class="modal__header background--white">
      <button class="button modal__close" data-modal="search-modal">
        Close
        <i class="pi-times"></i>
      </button>
      <h2>Search</h2>
    </div>
    <div class="modal__content">
      <div id="search"></div>
    </div>
  </div>
</div>
