---
import { getCollection } from 'astro:content';
const { tag } = Astro.props;

const posts = await getCollection('posts').then((posts) =>
  posts
    .filter((post) => post.data.tags.includes(tag))
    .reverse()
);
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/${post.slug}`}>{post.data.title}</a>
      </li>
    ))
  }
</ul>
