.author
    background lightGray
    display table
    width 100%
    padding rem(40px) 0
    margin rem(40px) 0
    +above(cut)
        padding rem(50px) 0
    h3
    margin 0 0 1.875rem;
    font-size 1.875rem
    .wrapper
        clear both
        margin-bottom rem(10px)
        min-height 100px
        &:before, &:after
            content ""
    .details
        margin auto
        max-width rem(800px)
        padding 0 rem(20px)
        +below(cut)
            text-align center
    img
        border-radius 50%
        display block
        margin auto
        width 100px
        height 100px
        +above(cut)
            float left
            margin-right 1.125rem
    .def
        color gray
        font-size 1.125rem
        mainFont(300)
        margin rem(10px)
        +above(cut)
            margin 0
            padding-top rem(25px)
    .name
        margin 0
        a
            mainFont()
            text-decoration none
            color black
            font-size rem(18px)
            transition all 0.3s
            &:hover
                color main
                &:after
                  font-family 'Fontawesome'
                  font-size rem(18px)
                  content '\f1d8'
                  margin-left 10px
            +above(cut)
                font-size rem(24px)
    .desc
        mainFont(300)
        margin rem(10px)
        font-size rem(14px)
        font-style italic
        color gray
        +above(cut)
            font-size rem(16px)
            padding-left rem(6.7rem)

    .email
        text-decoration none
        color main
