*, *:before, *:after
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box

body
  left 0
  right 0
  margin auto

a, aside, .overlay, body
    transition all .25s ease
a.slideButton, .dosearch
    position absolute
    display block
    width 40px
    height 40px
    top 10px
    z-index 31
.slideButton
    right 10px
.dosearch
    left 10px
    padding rem(2px) rem(3px)
.icon-menu
    background darken(rgba(main,.5),50%)
    cursor pointer
    padding rem(5px)
    width rem(40px)
    height rem(40px)
    color white
    position fixed
.icon-close
    color white
.icon-search
    color white
    width rem(35px)
    height rem(35px)
a
  text-decoration none
  .icon-rimdev-badge
    color white
    text-align center
    position relative
    left 35%
    transform translateX(-35%)
    margin 0 auto

.overlay
    cursor pointer

#close
    display none

aside
    position fixed
    height 100%
    width rem(240px)
    padding rem(40px) 0 0
    top 0
    right rem(-240px)
    background main
    z-index 20
    h2
        text-align center
        margin 0 0 rem(10px)
        mainFont(800)
        font-size rem(20px)
        color sec
    nav
        ul
            padding 0
        li
            margin 0
            list-style-type none
            a
                width 100%
                display block
                padding rem(20px)
                text-decoration none
                text-align center
                mainFont(300)
                color #b3b3b1
                border-top 1px solid darken(main,10%)
                &:hover
                    color #191918
                    background sec
                .fa
                    color white
        .feed
            border-bottom 1px solid darken(main,10%)
    &.slide
        right 0


a.slideButton.slide
    right rem(250px)
    pointer-events none

.overlay
    position fixed
    width 100%
    height 100%
    top 0
    right 0
    pointer-events none
    background transparent
    z-index 30
    &.slide
        pointer-events auto
        right 240px
        background rgba(0,0,0,.6)
