---
layout: default
---
{% include post-image.html %}
<div class="main-avatar">
  <img src="{{ site.RIMdev[page.author].avatar }}&s=120" alt="{{ page.author }}" />
</div>

{% include masthead.html %}
{% include menu.html %}

<div class="ui vertical stripe segment authors-page">
  <div class="ui middle aligned stackable text container">

  <h1 class="author-header">
    {{ page.author }}
    {% if site.RIMdev[page.author].previous %}
    <span>(Previous Team Member)</span>
    {% endif %}
  </h1>    

  {% if site.RIMdev[page.author].desc %}
    <p>{{ site.RIMdev[page.author].desc }}</p>
  {% endif %}

  <div class="social">
    {% if site.RIMdev[page.author].twitter %}
    <a href="https://twitter.com/{{ site.RIMdev[page.author].twitter }}" data-tooltip="{{ site.RIMdev[page.author].twitter | prepend: "@"}} on twitter" data-position="bottom right"><i class="icon twitter big"></i></a>
    {% endif %}
    {% if site.RIMdev[page.author].github %}
    <a href="https://github.com/{{ site.RIMdev[page.author].github }}" data-tooltip="{{ site.RIMdev[page.author].github }} on github" data-position="bottom left"><i class="icon github alternate big"></i></a>
    {% endif %}
  </div>

  {{ content }}

  {% for post in site.posts %}
    {% for author in post.authors %}
      {% if author == page.author %}
      <div class="post-articles">
        <article>
          <header>
            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          </header>
          <author>
            {% assign authorCount = post.authors | size %}

            {% if authorCount > 1 %}
              {% for author in post.authors %}
                {% if forloop.first %}
                  <a href="/authors/{{ author | replace: " ","-" | prepend: base.url | downcase }}/">{{ author }}</a>
                {% else %}
                  | <a href="/authors/{{ author | replace: " ","-" | prepend: base.url | downcase }}/">{{ author }}</a>
                {% endif %}
              {% endfor %}
            {% endif %}

            <div class="time-to-read">
              {% assign content = post.content %}
              {% include word-count.html %}
              <i class="icon book"></i> {{ words | plus: 250 | divided_by: 200 }}

            </div><!-- /.time-to-read -->
          </author>
          <p>
            {{ post.content | markdownify | strip_html | truncate:200 }}
          </p>

            {% for tags in post.tags %}
            <a class="ui basic label orange" href="{{ site.url }}/tags/#{{ tags }}" title="{{ tags }}">{{ tags }}</a>
            {% endfor %}
        </article>
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}

</div>
</div>
