<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  {% include google-tag-manager.html %}

  <div class="container-fluid layout no-gutter">
    <div class="hidden-md-down col-lg-4 col-xl-3">
    {% include articles-sidebar.html %}
    </div>
    <!-- main post column -->
    <div class="col col-md-12 col-lg-8 col-xl-9">
      <div class="post-main-column">
      {{ content }}
      </div>
    </div>
  </div> <!-- /.container-fluid -->

  {% include footer.html %}
  {% include script.html %}
  {% include articles-archive.html %}

  <!--  archives & search -->
  <button class="articles-more" data-toggle="modal" data-target=".articles-archive">
    <i class="fa fa-binoculars fa-lg"></i>
  </button>
  {% include freshness-hover.html %}


</body>

</html>
